<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta charset="utf-8">
    <base href="/">
    <meta name="purim2021Donations" content="{{ purim2021Donations }}">
    <title>Kupat Givat HaMivtar - The Tzedaka Fund of Givat HaMivtar</title>
    <meta name="description" content="Kupat Givat HaMivtar is the local Tzedaka fund of the Givat HaMivtar neighbourhood in Jerusalem.">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="index, follow">

    <meta property="og:title" content="Kupat Givat HaMivtar">
    <meta property="og:site_name" content="Kupat Givat HaMivtar">
    <meta property="og:url" content="https://kgh.org.il">
    <meta property="og:description" content="Supporting needy families in Givat HaMivtar, Jerusalem and the surrounding communities. The goal of the Kupah is to help needy families in Givat Hamivtar in a respectable and dignified manner. We help community families who don't have money for basic necessities.">
    <meta property="og:type" content="website">

    <meta name="og:image:url" content="https://kgh.org.il/assets/images/logo.png">
    <meta name="og:image:secure_url" content="https://kgh.org.il/assets/images/logo.png">
    <meta name="og:image:type" content="image/png">
    <meta name="og:image:width" content="401">
    <meta name="og:image:height" content="322">

    <meta name="twitter:card" content="app">
    <meta name="twitter:site" content="@hamivtar">

    <link rel="preconnect" href="https://unpkg.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preload" as="script" href="https://unpkg.com/@webcomponents/webcomponentsjs/webcomponents-loader.js">

    <meta name="theme-color" content="#be1e2d">
    <meta name="apple-mobile-web-app-title" content="Kupat Givat HaMivtar">
    <meta name="application-name" content="Kupat Givat HaMivtar">
    <meta name="msapplication-TileColor" content="#be1e2d">
    <meta name="msapplication-TileImage" content="/assets/images/mstile-144x144.png">
    <meta name="msapplication-config" content="/assets/images/browserconfig.xml">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon-180x180.png">
    <link rel="manifest" href="/assets/images/manifest.json">
    <link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#be1e2d">
    <link rel="shortcut icon" type="image/svg" href="/assets/images/icon.svg">

    <script src="https://unpkg.com/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons&display=block">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap">

    <link rel="stylesheet" href="/assets/theme.css">
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="stylesheet" href="/assets/gabbaim.css">

  </head>
  <body>
    <header id="main-header" class="dark">
      <a href="/">
        <img id="logo" src="/assets/images/logo.svg" alt="kgh logo" />
        <h1>Kupat Givat HaMivtar</h1>
      </a>

      <nav>
        <a href="#donate">Donate</a>
        <a href="#about">About</a>
        <a href="#stories">Stories</a>
        <a href="#contact">Contact</a>
      </nav>

    </header>

    <main>

      <section>
        <header>
          <h2>Gabbaim</h2>
          <button id="login">Login</button>
        </header>
      </section>

    </main>

    <script src="/__/firebase/8.2.8/firebase-app.js"></script>
    <script src="/__/firebase/8.2.8/firebase-auth.js"></script>
    <script src="/__/firebase/init.js{{ '?useEmulator=true' if $env != 'production' }}"></script>
    <script type="module">
    /* global firebase */
    /** @type {HTMLButtonElement} */
    const login = (document.getElementById('login'));

    firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    login.addEventListener('click', async function() {
      const provider = new firebase.auth.GoogleAuthProvider();
      provider.addScope('profile');

      try {
        login.disabled = true;
        login.textContent = 'Logging in...';

        const { user } = await firebase.auth().signInWithPopup(provider);
        const idToken = await user.getIdToken();
        const response = await fetch('/gabbaim/login/', {
          body: JSON.stringify({ idToken }),
          credentials: 'include',
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'CSRF-Token': '{{ csrfToken }}',
          },
        });
        if (!response.ok)
          throw new Error(response.statusText);
        await firebase.auth().signOut();
        location.pathname = '/gabbaim/';
      } catch (error) {
        login.disabled = false;
        login.textContent = 'Login';
        if (error.code !== 'auth/popup-closed-by-user') {
          // eslint-disable-next-line no-console
          console.error(error);
          location.pathname = '/gabbaim/logout/';
        }
      }
    });
    </script>
  </body>
</html>
