:host {
  --choices-width: 520px;

  display: block;
  position: relative;
  overflow-x: hidden;
  max-width: 100%;
}

:host([loading]) {
  opacity: 0.5;
}

#form {
  display: grid;
  background: white;
  color: black;
  border-radius: 4px;
  padding: 24px 12px;
  gap: 16px;
  grid-template-areas:
    'prompt'
    'amount'
    'other'
    'button'
    'info';
}

#show-donate-form {
  grid-area: button;
  width: min-content;
  justify-self: center;
}

:host([stage="amount"]) #form {
  grid-template-columns: auto min-content;
  width: var(--choices-width);
  margin: 0 auto;
}

:host(:not([stage="amount"])) #form {
  grid-template-areas:
    'other'
    'billing'
    'info'
    'actions';
}

#prompt {
  border: none;
  speak-as: normal;
  grid-area: prompt;
  font-size: 24px;
  display: block;
  text-align: center;
  font-weight: bold;
  min-height: 3em;
  min-width: calc(var(--choices-width) - 32px);
  border-radius: 4px;
  padding: 16px;
}

#amount-hint {
  text-align: center;
  grid-area: info;
}

stripe-elements {
  margin-bottom: 20px;
  overflow: hidden;

  --stripe-elements-element-background: transparent;
}

stripe-elements::part(stripe) {
  box-sizing: border-box;
  box-shadow: none;
  border-color: var(--md-outlined-text-field-outline-color, rgb(0 0 0 / 38%));
  border-style: solid;
  border-width: 1px;
  padding: 18px 16px;
  transition: padding, border-color, border-width 0.3s ease-in-out;
  height: 58px;
}

stripe-elements[focused]::part(stripe) {
  border-color: var(--kgh-primary);
  padding: 17px 15px;
  border-width: 2px;
}

#info {
  grid-area: info;
  display: flex;
  flex-flow: column;
  gap: 16px;
}

.alert {
  margin: 0;
}

#info .alert:first-of-type {
  margin-top: 0;
}

#submit {
  grid-column: 2/3;
  place-self: end;
  display: block;
}

#monthly {
  border-radius: 4px;
  grid-column: 1 / -1;
}

#other-amount {
  grid-area: other;
}

:host([stage="amount"]) #other-amount {
  padding: 16px;
  border-radius: 4px;
  padding-bottom: 0;
  width: calc(120px * 3);
}

:host([stage="amount"]) #info {
  width: calc(120px * 3 + 32px);
}

:host([stage="amount"]) #info,
:host([stage="amount"]) #other-amount {
  margin: 0 auto;
}

#message {
  width: 100%;
}

#amount {
  grid-area: amount;
  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: repeat(auto-fit, var(--kgh-amount-button-width));
  grid-template-rows: repeat(auto-fill, var(--kgh-donate-button-height));
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

#amount li {
  display: block;
}

#billing {
  grid-area: billing;
  display: grid;
  align-content: start;
  gap: 16px;
}

#billing > mwc-textfield,
#stripe {
  grid-column: span 2;
}

#billing a {
  display: flex;
  align-items: center;
  justify-content: end;
}

#billing img {
  border-radius: 6px;
  vertical-align: middle;
  width: min-content;
  height: min-content;
}

#inputs > span {
  display: block;
  position: relative;
  width: var(--kgh-amount-button-width);
  height: var(--kgh-donate-button-height);
}

input[type="radio"] {
  opacity: 0;
  max-width: 0;
  max-height: 0;
  border: none;
  position: absolute;
  grid-row: 1/1;
  grid-column: 1/1;
}

label {
  display: flex;
}

[data-amount] label {
  border: 1px solid var(--kgh-primary);
  color: var(--kgh-primary);
  min-width: var(--kgh-amount-button-width);
  height: var(--kgh-donate-button-height);
  align-items: center;
  border-radius: 4px;
  font-family: Alef, sans-serif;
  font-size: 2em;
  justify-content: center;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

label.switch,
label[slot] {
  align-items: center;
  justify-content: space-between;
}

#inputs {
  margin-bottom: 20px;
}

#inputs label > span {
  margin: calc(var(--kgh-donate-button-height) / 5);
}

label:hover {
  background: oklch(from var(--kgh-primary) 93% c h);
}

input:focus + label {
  box-shadow: 0 0 2px var(--kgh-primary);
  background: oklch(from var(--kgh-primary) 93% c h);
}

input[type="radio"]:checked + label {
  background: var(--kgh-primary);
  color: white;
  border: 1px solid oklch(from var(--kgh-primary) 7% c h)
}

#alert-card {
  grid-template-columns: 24px 1fr 120px;
}

#alert-card p:last-of-type {
  grid-column: 2/-1;
}

#alert-card a {
  justify-self: end;
  grid-column: span 3;
}

#actions {
  grid-area: actions;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
}

#actions a {
  display: flex;
}

#error-message {
  background: var(--oc-gray-0);
  border-radius: 4px;
  border: 1px solid var(--oc-gray-4);
  padding: 10px 16px;
  white-space: pre-wrap;
}

#signatures {
  display: flex;
}

#signatures img {
  flex: 1 1 auto;
  height: 50px;
}

:host(:not([stage="amount"])) #prompt,
:host(:not([stage="amount"])) #amount,
:host(:not([stage="amount"])) #show-donate-form,
:host([stage="amount"]) #billing,
:host([stage="amount"]) #submit,
:host([stage="amount"]) #info .alert,
:host([stage="amount"]) #message,
:host([stage="amount"]) #actions,
:host([stage="amount"]) #anonymous-field { display: none; }

@media (width >= 800px) {
  :host(:not([stage="amount"])) #form {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'other info'
      'billing info'
      'billing info'
      'actions actions';
  }
}

:host([stage="amount"]) #ongoing-fields {
  display: none;
}

#ongoing-fields small {
  justify-self: end;
}
