:host {
  display: block;
  position: relative;
}

:host([amount]) ::slotted(progress) {
  display: block;
}

article {
  position: relative;
  padding: 18px 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-flow: row wrap;
}

#amount { order: 1; }
#goal { order: 2; }

#goal,
#amount {
  opacity: 0;
  font-size: 26px;
  font-weight: bold;
}

#progress {
  flex: 1 1 100%;
  order: 0;
  width: 100%;
  height: 75px;
  display: block;
}

:host([amount]) #goal,
:host([amount]) #amount {
  opacity: 1;
}

@media (min-width: 600px) {
  :host(:not([small])) #amount { order: initial; }
  :host(:not([small])) #goal { order: initial; }

  :host(:not([small])) article { justify-content: space-between; }

  :host(:not([small])) #progress {
    order: initial;
    width: auto;
    flex-basis: auto;
  }
}
