:host {
  display: block;
  position: relative;
  overflow: hidden;
}

:host([loading]) {
  opacity: 0.75;
  pointer-events: none;
}

[hidden] {
  display: none !important;
  pointer-events: none;
}

a[disabled] {
  pointer-events: none;
}

.alert {
  --border-color: var(--oc-blue-3);
  --background-color: var(--oc-blue-0);

  align-items: center;
  background: var(--background-color);
  border-radius: 4px;
  border: 2px solid var(--border-color);
  box-shadow: inset 0 0 2px 0 var(--border-color);
  display: grid;
  font-size: 80%;
  grid-gap: 10px;
  grid-template-columns: 24px 1fr;
  margin: 10px 0;
  padding: 8px 12px;
}

.alert.warn {
  --border-color: var(--oc-yellow-3);
  --background-color: var(--oc-yellow-0);
}

.alert p {
  margin: 0;
}

md-dialog h2[slot="headline"] {
  margin-top: 0;
}
