.campaign input,
#logout-link,
button {
  padding: 8px 14px;
  border-radius: 4px;
  background-color: #fff9;
  border: 2px solid var(--purim-promo-red);
  font-size: 18px;
}

#logout-link {
  display: block;
}

#gabbaim header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logout-link:focus,
#logout-link:hover,
button:not([disabled]):focus,
button:not([disabled]):hover {
  box-shadow: 0 2px 4px #0005;
  transform: translateY(-2px);
}

button:not([disabled]):active {
  box-shadow: 0 0 4px #0008;
  transform: translateY(0);
}

main :is(h2, h3) {
  margin: revert;
}

.campaign {
  display: grid;
  gap: 14px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.campaign:nth-of-type(odd) {
  background: #fffd;
}

.campaign:nth-of-type(even) {
  background: #f5c0c588;
}

.campaign > h2 {
  grid-column: 1/-1;
}

.campaign dl {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 14px;
}

.campaign dd {
  margin: 0;
}

.campaign dd.input {
  grid-column: span 2;
}

.campaign input {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><text y='26px' x='2px' font-size='18px' font-family='alef' fill='black'>$</text></svg>");
}

kgh-campaign {
  color: white;
  width: 100%;
  opacity: 1;
  transition: opacity 0.2s ease-in;
  background-color: var(--purim-promo-red);
}

kgh-campaign #figure {
  position: relative;
  margin: 0;
  width: 100%;
  max-width: 100%;
}

kgh-campaign img {
  width: 100%;
  max-width: 100%;
}

@media (min-width: 800px) {
  #campaign-cta {
    --campaign-cta-width: 50%;

    font-size: 120%;
    height: 67px;
  }
}
