body {
  font-family: var(--md-sys-typescale-body-medium-font);
  padding: 0;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: Arvo, Georgia, "Times New Roman", Times, serif;
}

[unresolved] :not(:defined) {
  visibility: hidden;
}

main > article.campaign,
main > section,
body > footer {
  padding: var(--vertical-section-padding) var(--grid-gap);
  max-width: 1000px;
  position: relative;
}

.dark {
  background: rgb(var(--kgh-primary-rgb), var(--section-alpha));
  color: white;
}

.light {
  background: rgb(var(--oc-white-rgb), var(--section-alpha));
}

#main-header {
  --section-alpha: 1;

  padding: var(--grid-gap);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
}

#logo {
  height: 48px;
}

#main-header > a {
  width: 100%;
}

#main-header nav {
  display: flex;
  flex-flow: row wrap;
}

#main-header a {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 10px;
}

#campaign {
  color: white;
  width: 100vw;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  background-color: var(--purim-promo-red);
}

#campaign #figure {
  position: relative;
  margin: 0;
  width: 100vw;
  max-width: 100vw;
}

#campaign img {
  width: 100%;
  max-width: 100%;
}

#campaign-cta {
  color: var(--purim-promo-red);
  background: white;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 120%;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  transition: box-shadow, filter 0.2s ease-in;

  --campaign-cta-width: 50%;

  width: var(--campaign-cta-width);
  left: calc(50% - var(--campaign-cta-width) / 2);
  height: 67px;
  top: 80%;
}

#campaign-cta:focus,
#campaign-cta:hover {
  box-shadow: 0 4px 4px 1px #0004;
  filter: brightness(200%);
}

#campaign-cta:active {
  box-shadow: 0 4px 4px 1px #0004;
  filter: none;
}

#campaign[amount] {
  opacity: 1;
}

#contact a,
#main-header a,
#main-footer nav a,
#contact a:visited,
#main-header a:visited,
#main-footer nav a:visited {
  color: inherit;
  text-decoration: none;
}

#main-header md-icon {
  color: white;
}

#donate {
  display: flex;
  flex-flow: row wrap;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  max-width: 100vw;
}

#donate header {
  width: 100%;
  background: #fff8;
  padding: var(--vertical-section-padding) var(--horizontal-section-padding);
}

#donation {
  flex: 1 0 66%;
  min-height: 690px;
  max-width: 1000px;
  padding: var(--vertical-section-padding) var(--horizontal-section-padding);
}

#donate-feed {
  grid-area: feed;
}

#about {
  display: flex;
  text-align: center;
  flex-flow: row wrap;
  justify-content: center;
}

#about > * {
  margin-inline-end: var(--grid-gap);
  max-width: 240px;
}

#stories {
  display: grid;
  grid-template-areas:
    'feed'
    'stories-header'
    'stories';
}

#stories header {
  grid-area: stories-header;
}

#stories section {
  grid-area: stories;
}

#stories details[open] .show-button,
#stories details[open] .summary,
#stories details:not([open]) .hide-button {
  display: none;
}

#stories details summary {
  list-style-type: none;
}

#stories details[open] summary {
  list-style-type: revert;
}

#stories details[open] summary::after {
  content: 'Close';
}

#stories details[open] summary::-webkit-details-marker {
  display: none;
}

#contact {
  display: flex;
  flex-flow: row wrap;
  gap: var(--grid-gap);
}

#contact h2 {
  width: 100%;
}

#contact section {
  display: grid;
  grid-template-columns: 48px 1fr;
  grid-gap: 7px;
  align-content: start;
}

#contact section h3 {
  grid-column: 1 / -1;
  margin: 0;
}

#contact section md-icon {
  align-self: center;
  justify-self: center;
  width: 24px;
}

#contact section md-icon:first-of-type {
  align-self: start;
}

#contact address {
  display: flex;
  flex-flow: column;
}

#main-footer {
  align-items: center;
  display: grid;
  grid-template-columns: min-content;
  grid-gap: var(--grid-gap);
  grid-template-areas:
    'img slogan'
    'nav nav'
    'a11y a11y'
    'legal legal';
}

#main-footer p {
  margin: 0;
}

#main-footer > img {
  grid-area: img;
  align-self: center;
  justify-self: center;
  margin: 0 calc(-1 * var(--grid-gap));
}

#main-footer header {
  grid-area: slogan;
}

#main-footer nav {
  grid-area: nav;
  align-items: center;
  display: flex;
}

#main-footer nav a {
  margin-right: 6px;
}

#main-footer nav img {
  height: 24px;
}

#main-footer small {
  grid-area: legal;
}

#main-footer nav,
#main-footer small {
  align-self: center;
  margin-left: var(--grid-gap);
}

#accessibility-declaration {
  grid-area: a11y;
}

#accessibility-declaration p {
  margin-bottom: 16px;
}

@media (min-width: 700px) {
  #main-footer {
    grid-template-areas:
      'img slogan a11y'
      'nav nav a11y'
      'legal legal a11y';
  }
}

@media (min-width: 800px) {
  :root {
    --section-alpha: 0.7;
  }

  body {
    background-image: url('/assets/images/sunset.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
  }

  #campaign-cta {
    --campaign-cta-width: 33%;

    font-size: 150%;
    height: 13%;
  }

  #main-header > a {
    width: initial;
  }

  #stories {
    grid-template-areas:
      'stories-header feed'
      'stories feed';
  }
}

@media (min-width: 1040px) {
  #main-header,
  #main-footer,
  main > section,
  main > article.campaign,
  body > footer {
    padding: var(--vertical-section-padding) var(--horizontal-section-padding);
  }
}
